<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinNoEnoughTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,439},{135,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,11},{135,35}}</string>
                <key>sourceSize</key>
                <string>{311,59}</string>
            </dict>
            <key>frameTipsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{685,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,500}}</string>
                <key>sourceSize</key>
                <string>{685,500}</string>
            </dict>
            <key>freeDiamondTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,139},{135,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,11},{135,35}}</string>
                <key>sourceSize</key>
                <string>{311,59}</string>
            </dict>
            <key>friendHelpTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{135,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,11},{135,35}}</string>
                <key>sourceSize</key>
                <string>{311,59}</string>
            </dict>
            <key>goToMallBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,382},{116,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,127}}</string>
                <key>sourceSize</key>
                <string>{116,127}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{180,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,185}}</string>
                <key>sourceSize</key>
                <string>{180,185}</string>
            </dict>
            <key>mallBuyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,189},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>quickShareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,189},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,252},{128,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,82}}</string>
                <key>sourceSize</key>
                <string>{128,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frameTips.png</string>
            <key>size</key>
            <string>{992,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38fe97e2d4400ebac6adcbdaef88f9a3:1/1$</string>
            <key>textureFileName</key>
            <string>frameTips.png</string>
        </dict>
    </dict>
</plist>
