<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addToRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,407},{307,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,403}}</string>
                <key>sourceSize</key>
                <string>{307,403}</string>
            </dict>
            <key>createRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{307,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,403}}</string>
                <key>sourceSize</key>
                <string>{307,403}</string>
            </dict>
            <key>friendBattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,812},{149,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,130}}</string>
                <key>sourceSize</key>
                <string>{149,130}</string>
            </dict>
            <key>hallUpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{765,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,81}}</string>
                <key>sourceSize</key>
                <string>{765,81}</string>
            </dict>
            <key>iphonex_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1559,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1559,720}}</string>
                <key>sourceSize</key>
                <string>{1559,720}</string>
            </dict>
            <key>rankTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,807},{292,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,74}}</string>
                <key>sourceSize</key>
                <string>{292,74}</string>
            </dict>
            <key>weixinquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,724},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>xueliu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,724},{501,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,218}}</string>
                <key>sourceSize</key>
                <string>{501,218}</string>
            </dict>
            <key>xuezhan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{387,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,194}}</string>
                <key>sourceSize</key>
                <string>{387,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallIcon2.png</string>
            <key>size</key>
            <string>{1872,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd2e7d9001c46e94c47a64ced3bf3af7:1/1$</string>
            <key>textureFileName</key>
            <string>hallIcon2.png</string>
        </dict>
    </dict>
</plist>
