<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allDataMsgBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,399},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>backToDataMsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,314},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>backToDesk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,948},{118,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,26}}</string>
                <key>sourceSize</key>
                <string>{118,26}</string>
            </dict>
            <key>bigWinPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,605},{117,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,51}}</string>
                <key>sourceSize</key>
                <string>{117,51}</string>
            </dict>
            <key>continueBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,700},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,638},{69,55}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{69,55}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>default_face_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,736},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>fan_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,698},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>game_back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,525},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,120},{370,576}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{370,576}}</string>
                <key>sourceSize</key>
                <string>{372,580}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>headSize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,817},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1245,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1245,116}}</string>
                <key>sourceSize</key>
                <string>{1245,116}</string>
            </dict>
            <key>leave_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,229},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>leavelProtected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,724},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>leavelUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,948},{135,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,43}}</string>
                <key>sourceSize</key>
                <string>{137,43}</string>
            </dict>
            <key>liuju_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,817},{213,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,81}}</string>
                <key>sourceSize</key>
                <string>{215,81}</string>
            </dict>
            <key>loseFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,120},{268,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,289}}</string>
                <key>sourceSize</key>
                <string>{268,289}</string>
            </dict>
            <key>match_level_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,291},{227,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,17}}</string>
                <key>sourceSize</key>
                <string>{227,17}</string>
            </dict>
            <key>match_level_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,291},{232,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,20}}</string>
                <key>sourceSize</key>
                <string>{232,20}</string>
            </dict>
            <key>match_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{269,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,6}}</string>
                <key>sourceSize</key>
                <string>{269,6}</string>
            </dict>
            <key>match_resultInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,120},{516,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,80}}</string>
                <key>sourceSize</key>
                <string>{516,80}</string>
            </dict>
            <key>moreLisetFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1045,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1045,203}}</string>
                <key>sourceSize</key>
                <string>{1045,203}</string>
            </dict>
            <key>myFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,411},{268,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,287}}</string>
                <key>sourceSize</key>
                <string>{268,289}</string>
            </dict>
            <key>nextGameBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,900},{194,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,80}}</string>
                <key>sourceSize</key>
                <string>{194,80}</string>
            </dict>
            <key>nextGameBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,698},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>nextGameBtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,291},{95,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>outOfGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,144},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>pochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,921},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>resultInfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,120},{516,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,80}}</string>
                <key>sourceSize</key>
                <string>{516,80}</string>
            </dict>
            <key>resume_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,59},{160,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,30}}</string>
                <key>sourceSize</key>
                <string>{160,30}</string>
            </dict>
            <key>shareDoubleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,652},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>shareProtectBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,568},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>shareToGroup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,484},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,921},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,700},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,59},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,736},{222,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,79}}</string>
                <key>sourceSize</key>
                <string>{222,79}</string>
            </dict>
            <key>tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,698},{237,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,66}}</string>
                <key>sourceSize</key>
                <string>{237,66}</string>
            </dict>
            <key>tips3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,867},{222,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,79}}</string>
                <key>sourceSize</key>
                <string>{222,79}</string>
            </dict>
            <key>tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,59},{230,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,78}}</string>
                <key>sourceSize</key>
                <string>{230,78}</string>
            </dict>
            <key>transparent_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,784},{222,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,81}}</string>
                <key>sourceSize</key>
                <string>{222,81}</string>
            </dict>
            <key>upgrade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{707,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,650}}</string>
                <key>sourceSize</key>
                <string>{707,650}</string>
            </dict>
            <key>upgrade_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{451,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,55}}</string>
                <key>sourceSize</key>
                <string>{451,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameOver.png</string>
            <key>size</key>
            <string>{1765,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:450363b43d0ac504b62fe25742d7117e:1/1$</string>
            <key>textureFileName</key>
            <string>gameOver.png</string>
        </dict>
    </dict>
</plist>
