<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowLower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,109},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>arrowUpper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,221},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>cancelRobotBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,306},{197,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,75}}</string>
                <key>sourceSize</key>
                <string>{197,75}</string>
            </dict>
            <key>chaDaJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,210},{249,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{249,169}}</string>
                <key>sourceSize</key>
                <string>{251,171}</string>
            </dict>
            <key>chaHuaZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{381,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{381,179}}</string>
                <key>sourceSize</key>
                <string>{385,181}</string>
            </dict>
            <key>chatBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,262},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cxz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,2},{107,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,36}}</string>
                <key>sourceSize</key>
                <string>{107,36}</string>
            </dict>
            <key>diceBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,206},{90,70}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,39},{90,70}}</string>
                <key>sourceSize</key>
                <string>{192,154}</string>
            </dict>
            <key>dingque.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,171},{242,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{242,89}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>flyScoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,2},{330,105}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{330,105}}</string>
                <key>sourceSize</key>
                <string>{346,115}</string>
            </dict>
            <key>huIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,221},{130,142}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{130,142}}</string>
                <key>sourceSize</key>
                <string>{168,154}</string>
            </dict>
            <key>huTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,145},{453,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,33}}</string>
                <key>sourceSize</key>
                <string>{453,33}</string>
            </dict>
            <key>laiZiBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,171},{130,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,165}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>moreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{164,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,439}}</string>
                <key>sourceSize</key>
                <string>{164,439}</string>
            </dict>
            <key>moreBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,262},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>play_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,145},{220,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,103}}</string>
                <key>sourceSize</key>
                <string>{220,103}</string>
            </dict>
            <key>pochanTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,109},{316,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,60}}</string>
                <key>sourceSize</key>
                <string>{316,60}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,215},{147,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{147,83}}</string>
                <key>sourceSize</key>
                <string>{149,85}</string>
            </dict>
            <key>restmj_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,262},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>restmj_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,339},{140,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,20}}</string>
                <key>sourceSize</key>
                <string>{140,20}</string>
            </dict>
            <key>reviewBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,262},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>robotBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,141}}</string>
                <key>sourceSize</key>
                <string>{1280,141}</string>
            </dict>
            <key>robotTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,180},{332,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,33}}</string>
                <key>sourceSize</key>
                <string>{332,33}</string>
            </dict>
            <key>score_title_2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,344},{130,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,24}}</string>
                <key>sourceSize</key>
                <string>{130,24}</string>
            </dict>
            <key>score_title_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,338},{115,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,24}}</string>
                <key>sourceSize</key>
                <string>{115,24}</string>
            </dict>
            <key>score_title_8000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,180},{130,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,24}}</string>
                <key>sourceSize</key>
                <string>{130,24}</string>
            </dict>
            <key>signal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,145},{33,3}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{33,3}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>signal_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,265},{220,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,35}}</string>
                <key>sourceSize</key>
                <string>{220,35}</string>
            </dict>
            <key>signal_fore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,367},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>tingPaiArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,183},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>tipsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{700,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{700,63}}</string>
                <key>sourceSize</key>
                <string>{702,63}</string>
            </dict>
            <key>toast.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,302},{10,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,47}}</string>
                <key>sourceSize</key>
                <string>{10,47}</string>
            </dict>
            <key>turnoverBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,306},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xuanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,215},{245,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{245,89}}</string>
                <key>sourceSize</key>
                <string>{247,91}</string>
            </dict>
            <key>xueliu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,183},{153,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{153,36}}</string>
                <key>sourceSize</key>
                <string>{175,48}</string>
            </dict>
            <key>xuezhan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,302},{151,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,35}}</string>
                <key>sourceSize</key>
                <string>{151,35}</string>
            </dict>
            <key>yidingque.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,183},{199,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,80}}</string>
                <key>sourceSize</key>
                <string>{199,80}</string>
            </dict>
            <key>yixuanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,300},{196,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,83}}</string>
                <key>sourceSize</key>
                <string>{196,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk.png</string>
            <key>size</key>
            <string>{2043,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:357f95b0034fafa1959cecb1ddfb0d66:1/1$</string>
            <key>textureFileName</key>
            <string>desk.png</string>
        </dict>
    </dict>
</plist>
