<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chargebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{889,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{889,614}}</string>
                <key>sourceSize</key>
                <string>{889,614}</string>
            </dict>
            <key>consecutiveVictoriesBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,618},{685,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,500}}</string>
                <key>sourceSize</key>
                <string>{685,500}</string>
            </dict>
            <key>newSeasonBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{907,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{907,577}}</string>
                <key>sourceSize</key>
                <string>{907,577}</string>
            </dict>
            <key>seasonBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1040,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,607}}</string>
                <key>sourceSize</key>
                <string>{1040,607}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frameBg.png</string>
            <key>size</key>
            <string>{1935,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e7ff3c49f5123384a3be5855c2b2e28:1/1$</string>
            <key>textureFileName</key>
            <string>frameBg.png</string>
        </dict>
    </dict>
</plist>
