<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cainiaiwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,376},{86,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{86,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>collectIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,387},{101,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,80}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>commonFrameMaskBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,459},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>consecutiveVictoriesBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,425},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>customerServiceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,265},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>dailyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,265},{85,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{85,97}</string>
            </dict>
            <key>diamondCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,376},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>freeDiamondIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,351},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>goldCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,170},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>hallBottomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{1280,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,82}}</string>
                <key>sourceSize</key>
                <string>{1280,82}</string>
            </dict>
            <key>head_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,292},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>helpIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,170},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>inviteFriendIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,376},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>iphonex_hallBottomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1559,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1559,82}}</string>
                <key>sourceSize</key>
                <string>{1559,82}</string>
            </dict>
            <key>jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,376},{90,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{90,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>leaveGameBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,86},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>lock_xueliu.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,170},{500,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,204}}</string>
                <key>sourceSize</key>
                <string>{500,204}</string>
            </dict>
            <key>lock_xuezhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{524,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,188}}</string>
                <key>sourceSize</key>
                <string>{524,188}</string>
            </dict>
            <key>mallIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,170},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>moneyAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,445},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>moneyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,224},{189,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,39}}</string>
                <key>sourceSize</key>
                <string>{189,39}</string>
            </dict>
            <key>partitionLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,258},{2,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,53}}</string>
                <key>sourceSize</key>
                <string>{2,53}</string>
            </dict>
            <key>qualifyingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{439,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,455}}</string>
                <key>sourceSize</key>
                <string>{439,455}</string>
            </dict>
            <key>qualifyingMsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,86},{263,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,26}}</string>
                <key>sourceSize</key>
                <string>{263,26}</string>
            </dict>
            <key>qualifyingTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,86},{235,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,10}}</string>
                <key>sourceSize</key>
                <string>{235,10}</string>
            </dict>
            <key>rankList.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{129,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,482}}</string>
                <key>sourceSize</key>
                <string>{129,482}</string>
            </dict>
            <key>rankOutBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,272},{49,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,133}}</string>
                <key>sourceSize</key>
                <string>{49,133}</string>
            </dict>
            <key>redPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,360},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>season_rewards.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,86},{170,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,63}}</string>
                <key>sourceSize</key>
                <string>{170,63}</string>
            </dict>
            <key>setIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,323},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>userInfoNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,86},{337,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{337,93}}</string>
                <key>sourceSize</key>
                <string>{339,93}</string>
            </dict>
            <key>userinfoHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,376},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beforeLoading.png</string>
            <key>size</key>
            <string>{2004,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6dafd21b77cc93eb758323f34483e2:1/1$</string>
            <key>textureFileName</key>
            <string>beforeLoading.png</string>
        </dict>
    </dict>
</plist>
