<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,527},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,527},{12,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{12,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,503},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,503},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,538},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,503},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,538},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,573},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,573},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,431},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,503},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,37},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>addToFriendBattleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{665,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,614}}</string>
                <key>sourceSize</key>
                <string>{665,614}</string>
            </dict>
            <key>addToFriendBattleButton_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,235},{194,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,101}}</string>
                <key>sourceSize</key>
                <string>{194,101}</string>
            </dict>
            <key>addToFriendBattleButton_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,39},{194,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,101}}</string>
                <key>sourceSize</key>
                <string>{194,101}</string>
            </dict>
            <key>addToFriendBattleTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{135,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,11},{135,35}}</string>
                <key>sourceSize</key>
                <string>{311,59}</string>
            </dict>
            <key>clearAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,431},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,466},{77,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,35}}</string>
                <key>sourceSize</key>
                <string>{77,35}</string>
            </dict>
            <key>houseId.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,431},{173,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,39}}</string>
                <key>sourceSize</key>
                <string>{173,39}</string>
            </dict>
            <key>into_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,72},{391,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,64}}</string>
                <key>sourceSize</key>
                <string>{391,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>addToFriendBattle.png</string>
            <key>size</key>
            <string>{838,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f055299ac1999e3daf6084cdd8c933db:1/1$</string>
            <key>textureFileName</key>
            <string>addToFriendBattle.png</string>
        </dict>
    </dict>
</plist>
