<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_or_red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,811},{103,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,48}}</string>
                <key>sourceSize</key>
                <string>{103,48}</string>
            </dict>
            <key>add_times_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,811},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>add_times_btn_false.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,811},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>choose_btn_false.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,842},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>choose_btn_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,842},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>choose_more_btn_false.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,842},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>choose_more_btn_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,811},{53,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{53,47}</string>
            </dict>
            <key>createFriendBattleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,658}}</string>
                <key>sourceSize</key>
                <string>{1200,658}</string>
            </dict>
            <key>createFriendBattleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,760},{221,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,80}}</string>
                <key>sourceSize</key>
                <string>{221,80}</string>
            </dict>
            <key>createFriendBattleTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,717},{135,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,11},{135,35}}</string>
                <key>sourceSize</key>
                <string>{311,59}</string>
            </dict>
            <key>red_times_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,811},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>red_times_btn_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,662},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>shadowBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{928,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{928,147}}</string>
                <key>sourceSize</key>
                <string>{928,147}</string>
            </dict>
            <key>xueliu_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{203,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,96}}</string>
                <key>sourceSize</key>
                <string>{203,96}</string>
            </dict>
            <key>xueliu_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,811},{199,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,96}}</string>
                <key>sourceSize</key>
                <string>{203,96}</string>
            </dict>
            <key>xuezhan_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,662},{203,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,96}}</string>
                <key>sourceSize</key>
                <string>{203,96}</string>
            </dict>
            <key>xuezhan_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,811},{199,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,96}}</string>
                <key>sourceSize</key>
                <string>{203,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createFriendBattle.png</string>
            <key>size</key>
            <string>{1204,909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f2817107bc7cd47c7669cb61953243a:1/1$</string>
            <key>textureFileName</key>
            <string>createFriendBattle.png</string>
        </dict>
    </dict>
</plist>
