<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quickStartBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{366,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,115}}</string>
                <key>sourceSize</key>
                <string>{366,115}</string>
            </dict>
            <key>roomType1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{336,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{336,461}}</string>
                <key>sourceSize</key>
                <string>{338,461}</string>
            </dict>
            <key>roomType2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{338,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,461}}</string>
                <key>sourceSize</key>
                <string>{338,461}</string>
            </dict>
            <key>roomType3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,461}}</string>
                <key>sourceSize</key>
                <string>{338,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roomInfo.png</string>
            <key>size</key>
            <string>{1020,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b1ff66cddc4811fe0acd7c686176621:1/1$</string>
            <key>textureFileName</key>
            <string>roomInfo.png</string>
        </dict>
    </dict>
</plist>
