<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{366,374}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,213},{366,374}}</string>
                <key>sourceSize</key>
                <string>{554,654}</string>
            </dict>
            <key>cup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,404},{366,384}}</string>
                <key>offset</key>
                <string>{6,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,212},{366,384}}</string>
                <key>sourceSize</key>
                <string>{554,654}</string>
            </dict>
            <key>cup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{400,388}}</string>
                <key>offset</key>
                <string>{7,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,212},{400,388}}</string>
                <key>sourceSize</key>
                <string>{554,654}</string>
            </dict>
            <key>cup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,494},{454,390}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,213},{454,390}}</string>
                <key>sourceSize</key>
                <string>{554,654}</string>
            </dict>
            <key>cup5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{456,392}}</string>
                <key>offset</key>
                <string>{7,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,212},{456,392}}</string>
                <key>sourceSize</key>
                <string>{554,654}</string>
            </dict>
            <key>cup6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,418}}</string>
                <key>offset</key>
                <string>{8,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,186},{490,418}}</string>
                <key>sourceSize</key>
                <string>{554,654}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allCup.png</string>
            <key>size</key>
            <string>{1180,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be0cd4e136d5eac797a31b59c9b75a7d:1/1$</string>
            <key>textureFileName</key>
            <string>allCup.png</string>
        </dict>
    </dict>
</plist>
