<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancelBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{248,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,83}}</string>
                <key>sourceSize</key>
                <string>{248,83}</string>
            </dict>
            <key>diamondClickOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,295},{217,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,97}}</string>
                <key>sourceSize</key>
                <string>{217,97}</string>
            </dict>
            <key>diamondClickOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,186},{235,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,97}}</string>
                <key>sourceSize</key>
                <string>{235,97}</string>
            </dict>
            <key>diamondCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,394},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>diamondCoin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,486},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>goldClickOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,285},{217,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,97}}</string>
                <key>sourceSize</key>
                <string>{217,97}</string>
            </dict>
            <key>goldClickOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,87},{235,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,97}}</string>
                <key>sourceSize</key>
                <string>{235,97}</string>
            </dict>
            <key>mallBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{909,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{909,700}}</string>
                <key>sourceSize</key>
                <string>{909,700}</string>
            </dict>
            <key>mallBuyTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,394},{135,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,11},{135,35}}</string>
                <key>sourceSize</key>
                <string>{311,59}</string>
            </dict>
            <key>mallDiamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,368},{106,90}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{106,90}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallDiamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,554},{90,66}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{90,66}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallDiamond3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,194},{100,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{100,90}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallDiamond4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,102},{100,90}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallDiamond5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,431},{98,90}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{98,90}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallDiamond6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,286},{100,80}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{100,80}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallDiamond7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,537},{149,147}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>mallDiamond8.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,384},{155,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{155,151}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>mallGold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,384},{100,60}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{100,60}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallGold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,554},{96,76}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{96,76}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallGold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,431},{104,76}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{104,76}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallGold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallGold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,431},{104,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{104,86}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallGold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,460},{96,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{96,92}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>mallGold7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,537},{153,149}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{153,149}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>mallGold8.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,537},{155,147}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{155,147}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>mallIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,295},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>mallitembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,86},{246,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,207}}</string>
                <key>sourceSize</key>
                <string>{246,207}</string>
            </dict>
            <key>rmbIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,394},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>sureBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mallInfo.png</string>
            <key>size</key>
            <string>{1515,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd52dcf4bd5ada3cab5854c28866aa69:1/1$</string>
            <key>textureFileName</key>
            <string>mallInfo.png</string>
        </dict>
    </dict>
</plist>
